[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "antaresEditObject"]
	path = antaresEditObject
	url = https://github.com/rte-antares-rpackage/antareseditobject
[submodule "antaresRead"]
	path = antaresRead
	url = https://github.com/rte-antares-rpackage/antaresread
[submodule "manipulateWidget"]
	path = manipulateWidget
	url = https://github.com/rte-antares-rpackage/manipulatewidget
[submodule "spMaps"]
	path = spMaps
	url = https://github.com/rte-antares-rpackage/spmaps
